<p id="registrationNumber">
    <ix:nonNumeric name="uk-bus:UKCompaniesHouseRegisteredNumber"
                   contextRef="CurrYearDuration">
        <!-- We can either use class fields directly...-->
        Registered number: <span th:text="${yearEndDocument.registrationNumber}"></span>
    </ix:nonNumeric>
</p>

<!-- let's simplify this complex conditional by assigning it to a variable. This is only active within this table. -->
<!-- and yep, we can use java.util.Date as if we were in Java code -->
<table class="front-page-table" th:with="is_interim = ${#dates.createNow().before(yearEndDocument.yearEndDate)}">
    <tr>
        <td><ix:nonNumeric
                name="uk-bus:EntityCurrentLegalOrRegisteredName"
                contextRef="CurrYearDuration"
                th:text="${yearEndDocument.companyName}">
        </ix:nonNumeric></td>
    </tr>

    <tr th:if="${is_interim}">
        <td>INTERIM REPORT</td>
    </tr>
    
    <tr>
        <td><ix:nonNumeric name="uk-bus:BusinessReportName" contextRef="CurrYearDuration">
            Unaudited Financial Statements
        </ix:nonNumeric>
        </td>
    </tr>

    <tr>
        <td>for the 
            <!-- yeah this is pretty ugly :( -->
            <span th:switch="${is_interim}">
                <span th:case="${true}">period</span>
                <span th:case="${true}">year</span>
            </span>
            ended
            <ix:nonNumeric name="uk-bus:EndDateForPeriodCoveredByReport" contextRef="CurrYearEnd" format="ixt:datelonguk" th:text="${#dates.format(#dates.createNow(), 'F MMMMM y')}">
            </ix:nonNumeric>
        </td>
    </tr>
</table>
