
<td th:fragment="column_item (styleClasses,ixbrlTag, contextRef,format,balance,ixbrlType)" th:class="${styleClasses}" th:inline="text" th:with="tag_name='xbrli:' + ${ixbrlType}">
    <xbrli th:name="${ixbrlTag}" th:attr="contextRef=${contextRef},format=${format}" unitRef="GBP" decimals="0">
        <span th:if="${balance ne null}" th:remove="tag">
            <span th:if="${balance ne 0}" th:text="${balance}" th:remove="tag">
            </span>
        </span>        
    </xbrli>
</td>


<tr class="row" th:fragment="income_statement_row (title,ixbrlTag,item,comparativeDate,style)">
    <td class="data-title-cell" th:text="${title}">
    </td>
    
    <td th:replace="fragments.html :: column_item(${style},${ixbrlTag},'CurrYearDuration','ixt:numcommadot',${item.balance},'nonFraction')"></td>
    
     <span th:if="${comparativeDate}" th:remove="tag">
         <td>&#160;</td>
         <td th:replace="fragments.html :: column_item(${style},${ixbrlTag},'CurrYearDuration','ixt:numcommadot',${item.comparativeBalance},'nonFraction')"></td>
     </span>
</tr>
