<h1 class="section-title">
    Income Statement
</h1>

<table class="front-page-table data-table">
    <tr class="row">
        <td class="data-heading-cell"></td>
        <td class="data-heading-cell" th:text="${#dates.year(#dates.createNow())}"></td>
        
        <span th:if="${yearEndDocument.comparativeEndDate}">
            <td>&#160;</td>
            <td class="data-heading-cell" th:text="${yearEndDocument.comparativeEndDate.getYear()}"></td>
        </span>
        
    </tr>
    <tr class="row">
        <td class="data-heading-cell"></td>
        <td class="data-heading-cell">&#163;</td>
        <span th:if="${yearEndDocument.comparativeEndDate}">
            <td>&#160;</td>
            <td class="data-heading-cell">&#163;</td>
        </span>
    </tr>
    
    <span th:replace="fragments.html :: income_statement_row(
        'Turnover', 'uk-frs102:TurnoverRevenue', ${yearEndDocument.incomeStatement.turnover}, yearEndDocument.comparativeEndDate, 'cell-right')"></span>
    <span th:replace="fragments.html :: income_statement_row(
        'Other income', 'uk-frs102:OtherOperatingIncomeFormat1', ${yearEndDocument.incomeStatement.otherIncome}, yearEndDocument.comparativeEndDate, 'cell-right')"></span>
    <span th:replace="fragments.html :: income_statement_row(
        'Cost of raw materials and consumables', 'uk-frs102:OtherOperatingIncomeFormat1', ${yearEndDocument.incomeStatement.costOfRawMaterials}, yearEndDocument.comparativeEndDate, 'cell-right')"></span>
    <span th:replace="fragments.html :: income_statement_row(
        'Staff costs', 'uk-frs102:OtherOperatingIncomeFormat1', ${yearEndDocument.incomeStatement.staffCosts}, yearEndDocument.comparativeEndDate, 'cell-right')"></span>
    <span th:replace="fragments.html :: income_statement_row(
        'Depreciation and other amounts written off assets', 'uk-frs102:OtherOperatingIncomeFormat1', ${yearEndDocument.incomeStatement.depreciationAndOther}, yearEndDocument.comparativeEndDate, 'cell-right')"></span>
    <span th:replace="fragments.html :: income_statement_row(
        'Other charges', 'uk-frs102:OtherOperatingIncomeFormat1', ${yearEndDocument.incomeStatement.otherCharges}, yearEndDocument.comparativeEndDate, 'cell-right')"></span>
    <span th:replace="fragments.html :: income_statement_row(
        'Tax', 'uk-frs102:OtherOperatingIncomeFormat1', ${yearEndDocument.incomeStatement.tax}, yearEndDocument.comparativeEndDate, 'cell-right')"></span>
    <span th:replace="fragments.html :: income_statement_row(
        'Profit or loss', 'uk-frs102:ProfitLossOnOrdinaryActivitiesAfterTax', ${yearEndDocument.incomeStatement.profit}, yearEndDocument.comparativeEndDate, 'cell-right double-line income-statement-last-row')"></span>
</table>
