/*
${templates.header}

*/
#registrationNumber {
	font-weight: bold;
	margin-bottom: 270px;
	text-align: right;
}

.front-page-table {
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.section-title {
	margin-top: 50px;
}

.data-table {
	margin: 2px;
	margin-top: 50px;
	border-spacing: 0px;
}


.income-statement-last-row {
	/* append border to numeric cells on last table row */
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.double-line {
    border-top:  1px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    padding-top: 4px;
    width: 17.5mm;
}

.underline {
	border-bottom: 1px solid black;
}

.data-heading-cell {
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.data-title-cell {
	font-weight: bold;
	text-align: left;
	padding: 0 10px 0 10px;
}

.cell-right {
	text-align: right;
}

.cell-center {
	text-align: center;
	font-weight: bold;
}

.page-break {
	page-break-before: always;
}

td {
	text-align: center;
	padding: 5px 0 5px 0;
    margin: 10px;
}

body {
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
}

.hide {
	display: none;
}

.sofp-row-title {
	width: 50%;
}

/* For the SoFP, each year is split into two columns. */
.table-split-columns {
	width: 100%;
}

/* a single column in the split cell */
.split-cell {
	width: 50%;
}

.column-spacer {
	width: 25%;
}

